<html lang="en">

<head>
    <title>Progress</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <script type="text/javascript" charSet="utf-8">
        const socket = io.connect("http://localhost:5000");

        $(document).ready(() => {
            socket.on('connect', function () {
                socket.send("Connected")
                console.log("Connected", new Date().toLocaleTimeString())
            });

            socket.on("message", (message) => {
                alert(message)
            })

            socket.on("update-progress", (message) => {
                console.log(message)
                $("#progress-iterations-"+message["task_name"]).text(message["iteration"])
                $("#progress-bar-"+message["task_name"]).attr("value", message["iteration"])
            })

        })
    </script>
</head>

<body>

<h1>Progress</h1>
<table>
    {%for name, progress in bars.items()%}
    <tr>
        <td>{{name}}<td>
        <td>
            <progress value="{{progress}}" max="{{total[name]}}" id="progress-bar-{{name}}"></progress>
        </td>
        <td><span id="progress-iterations-{{name}}">{{progress}}</span>/{{total[name]}}</td>
    </tr>
    {%endfor%}
</table>


</body>

</html>